extends layout

block content
  h1= title
  p Welcome to #{title}
  b Tutorials
  ul
    li
      a(href="/tutorial01.html") Basic Element
    li
      a(href="/tutorial02.html") DOM elements
    li
      a(href="/tutorial03.html") Picture Frame
    li
      a(href="/tutorial04.html") Name tag
    li
      a(href="/tutorial05.html") Editable name tag